.eco-manage-page {
     height: calc(100% - 6.5rem - 5.8rem);
        
     .trading-button {
          margin: auto auto 3vh;
          text-align: center;
          color: white;
      } 
     
      p {
           font-size: 3rem;
           font-weight: lighter;
           text-align: center;
           color: white;
      }
}


