// default background - background :#19294d;
.ecosytem-button{
    color: white;
    outline: none;
    font-size: 1.5rem;
    max-width: 93%;
    width: 380px;
    height: 40px;
    background: transparent linear-gradient(90deg, #00c1cb 0%, #8302fa 100%) 
      no-repeat padding-box;
    border-radius: 64px;
}