.searchBar {
  text-align: left;
  font-size: 2rem;
  padding: 3%;
  color: rgba(255, 255, 255, 0.276);
  width: 400px;
  height: 44px;
  background: #182541;
  border: 1px solid #03102a;
  border-radius: 15px;

  
}

.search-icon {
    text-align: right;
    margin-left: 90%;
    margin-bottom: 10%;
}

.input {
    background-color: black;
}
