.socialSignin {
  margin: .5rem auto 0;
}

.links {
<<<<<<< HEAD
  text-align: right;
  padding-bottom: 1vh;
=======
>>>>>>> 1cb314af5ae43b055b25915a92fe26105af358cd
  display: block;
  width: 100%;
  margin: 1.5rem auto 0;

  a {
<<<<<<< HEAD
    color: #4AD295;
  }
}

.formWrap {
  width: 100%;
}
=======
    color: black;
  }
}
>>>>>>> 1cb314af5ae43b055b25915a92fe26105af358cd
