.wallet {
  color: white;
  //margin-top for fixed navbar
  margin-top: 10vh;

  .trade-button {
    padding-right: 3vw;
    padding-bottom: 4vh;
    text-align: center;
  }

  .wallet-title {
    margin: 4vh;
    font-size: 3rem;
    text-align: center;
  }
}
