.footer {
<<<<<<< HEAD
  text-align: center;
  margin: auto;
  .wrap {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    color: white;
    text-align: center;
    padding: 5vh 10px;
    margin: auto;
    z-index: -1;
  }
}
=======
  .wrap {
    color: white;
    text-align: center;
    max-width: 1450px;
    padding: 20px 10px;
    margin: 3vh auto;
  }
}
>>>>>>> 1cb314af5ae43b055b25915a92fe26105af358cd
