.homepage {
  //margin-top for fixed navbar
  margin-top: 10vh;
}

.button-div {
  display: grid;
  padding-top: 4vh;
  margin: auto;
  text-align: center;
  color: white;
  

  .button-container {
    text-align: center;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 10px;

  }
}

.trade-button-align {
  display: grid;
  padding-bottom: 4vh;
  margin: auto;
  text-align: center;
  color: white;
}

