.artist-page {
    text-align: center;

    .name-image {
      color: white;
      padding-top: 3vh;
  }

    .bubble-container {
      display: grid;
      grid-template-columns: 2fr 2fr 2fr;
      margin: 5vh;
    }
    
  }
