.air-drop-tokens {
    padding: 8px 0;
    margin: auto;
    text-align: center;
    
    .token-amount {
        color: white;
        background: #182541;
        padding-left: 1.7vw;
        margin-bottom: 10px;
        border-radius: 36px;
        text-align: center;
        height: 5vh;
        outline: none;
    }

}